#main-timeline {
  height: 100vh;
}

#main-timeline #div-logo {
  width: 100%;
  height: 5%;
  display: flex;
  flex-direction: row;
  padding: 0 5px;
  margin: 15px 0;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  background-color: #FBE5C8;
  border-bottom: 3px solid #fff;
}

#main-timeline #div-logo .logo {
  height: 30px;
  padding: 0 2px;
  margin-bottom: 10px;
}

#main-timeline #div-logo button {
  border: none;
  background-color: #FBE5C8;
  margin-bottom: 10px;
}

#main-timeline #div-logo button .logout {
  height: 26px;
  padding: 0 2px;
}

#feed {
  width: 100%;
  height: 85%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: fixed;
  /* border: solid 1px blue; */
}

#feed-container {
  width: 100%;
  height: 90%;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  overflow-y: scroll;
  scroll-behavior: smooth;
  /* border: solid 1px purple; */
}

#feed-container p {
  text-align: center;
}

#feed-container div {
  width: 90%;
  height: fit-content;
  display: flex;
  flex-wrap: wrap;
  background-color: #fff;
  margin: 5px 0;
  padding: 10px;
  border-radius: 5px;
  align-items: center;
}

#feed-container img {
  width: 200px;
}

#input-container {
  height: 8%;
  display: flex;
  justify-content: start;
  align-items: center;
  justify-content: center;
  /* border: solid 1px green; */
}

#input-container input {
  width: 80%;
  height: 30px;
  align-self: self-start;
  /* border-right: none; */
}

#input-container button {
  width: 10%;
  background-color: #fff;
  align-self: self-start;
  /* border-left: none; */
}

#input-container button img {
  width: 100%;
}

#functions {
  width: 100%;
  height: 8%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-grow: 0;
  flex-shrink: 0;
  position: fixed;
  bottom: 0;
  background-color: #33bbc5;
  border-top: 3px solid #fff;
  padding: 0 20px;
}

#functions button {
  background-color: #33bbc5;
  border: none;
}

#functions button img,
#functions a img {
  height: 32px;
}

@media (min-width: 1024px) {
  #main-timeline #div-logo {
    width: 100%;
    height: 46px;
    display: flex;
    padding: 0 5px;
    justify-content: space-between;
    border-bottom: none;
  }
  
  #main-timeline #div-logo .logo {
    height: 36px;
    padding: 0 2px;
    padding-left: 38rem;
  }

  #main-timeline #div-logo .logoout {
    height: 36px;
    padding: 0 2px;
    align-self: flex-end;
  }
  
  #container {
    flex-direction: row;
    justify-content: space-evenly;
  }

  #feed {
    width: 80%;
  }

  #functions {
    width: 5%;
    height: 100vh;
    flex-direction: column-reverse;
    justify-content: space-evenly;
    align-items: center;
    position: fixed;
    left: 0;
    background-color: #33bbc5;
    border-top: none;
  }

  #functions a img {
    height: 40px;
  }
  
}
