#main-timeline #div-logo {
  width: 100%;
  height: 46px;
  display: flex;
  flex-direction: row;
  padding: 0 5px;
  justify-content: space-between;
  align-items: center;
  border-bottom: 3px solid #fff;
}

#main-timeline #div-logo .logo {
  height: 30px;
  padding: 0 2px;
}

#main-timeline #div-logo button {
  border: none;
  background-color: #FBE5C8;
}

#main-timeline #div-logo button .logout {
  height: 26px;
  padding: 0 2px;
}

#container {
  width: 100%;
  display: flex;
  flex-direction: column;
}

#feed {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#feed-container {
  width: 100%;
  height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

#input-container {
  display: flex;
}

#input-container input {
  width: 100%;
  align-self: self-end;
}

#functions {
  width: 100%;
  height: 56px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-grow: 0;
  flex-shrink: 0;
  position: absolute;
  bottom: 0;
  background-color: #33bbc5;
  border-top: 3px solid #fff;
  padding: 0 20px;
}

#functions button {
  background-color: #33bbc5;
  border: none;
}

#functions button img,
#functions a img {
  height: 32px;
}

@media (min-width: 1024px) {
  #main-timeline #div-logo {
    width: 100%;
    height: 46px;
    display: flex;
    padding: 0 5px;
    justify-content: space-between;
    border-bottom: none;
  }
  
  #main-timeline #div-logo .logo {
    height: 36px;
    padding: 0 2px;
    padding-left: 38rem;
  }

  #main-timeline #div-logo .logoout {
    height: 36px;
    padding: 0 2px;
    align-self: flex-end;
  }
  
  #container {
    flex-direction: row;
    justify-content: space-evenly;
  }

  #feed {
    width: 80%;
  }

  #functions {
    width: 5%;
    height: 100vh;
    flex-direction: column-reverse;
    justify-content: space-evenly;
    align-items: center;
    position: fixed;
    left: 0;
    background-color: #33bbc5;
    border-top: none;
  }

  #functions a img {
    height: 40px;
  }
  
}
