* {
    margin: 0;
    padding: 0;

}

html {
scroll-behavior: smooth;
}

body{

}
footer {
    align-items: center;

}
#container {
    background-color: #9b4922;
}
img {
  text-align: center;
  margin: 1rem;
}
