* {
    margin: 0;
    padding: 0;

}

html {
scroll-behavior: smooth;
}

body {
    background-color: #9b4922;
}
h1 {
    align-items: center;
    font-family: "Chonburi";
    font-size: normal;
}
footer {
    align-items: center;

}
#container {
    background-color: #9b4922;
}
img {
  text-align: center;
  margin: 1rem;
}


.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}
